:root {
    --font-primary: #191b1d;
    --font-secondary: #9b9d9f;
    --primary: #ccced0;
    --secondary: #babcbd;
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: initial;
    color: var(--font-primary);
    background-color: var(--primary);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: unset;
    color: inherit;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

h1, .mainTitle {
    font-size: 7rem;
    margin: 0;
}

h2 {
    font-size: 46px;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}

.mainBtnContainer {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 100px 0;
}

.Button {
    flex: 1 0 auto;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: var(--font-primary);
    background-color: var(--secondary);
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    max-width: 270px;
    padding: 0 15px;
    cursor: pointer;
    border-radius: 50px;
    transition: filter .3s;
    width: max-content;
    flex-wrap: nowrap;
}

.Button::after {
    content: '\01F81A';
    display: inline-block;
    margin-left: 15px;
}

.Button:hover {
    filter: brightness(.9);
}

.header {
    padding: 25px 0;
}

.heroImg {
    border-radius: 50px;
}

input, select {
    min-height: 40px;
    border: 1px solid var(--font-secondary);
    -webkit-appearance: none;
    border-radius: 15px;
    padding: 15px 25px 15px 15px;
    color: var(--font-secondary);
    background-color: transparent;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 600;
}

.logo img {
    max-width: 20px;
}

.inputGroupHint {
    position: absolute;
    right: 0;
    padding: 15px;
    bottom: 0;
}

.topSection {
    display: flex;
    background-image: url("./images/ship.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 60vh;
}

.topSection--semi {
    background-image: url("./images/semi.png");
}

.topSection__left {
    flex: 1 0 70%;
}

.heroImg {
    margin: 100px 0;
}

.form-row {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 15px;
}

.form-row > div {
    flex: 1
}

.navToggle {
    border: 1px solid var(--font-secondary);
    border-radius: 15px;
    padding: 2px;
    background-color: transparent;
    position: relative;
    z-index: 5;
    width: 100%;
}

.navToggle__in {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.navToggle__in > div {
    flex: 1;
}

.navToggleBtn {
    font-weight: 600;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

.navToggle input:checked + .navToggleBtn {
    color: #fff;
}

.navToggle__indicator {
    position: absolute;
    height: 100%;
    width: 33%;
    background-color: var(--font-primary);
    z-index: -1;
    transition: left .5s;
    border-radius: 15px;
    transform: translateX(2px);
}

.navToggleInput {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
    height: 0;
    width: 0;
}

.ToggleItem {
    background: transparent;
    border-top: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
    padding: 25px 30px;
    height: max-content;
    margin-bottom: -1px;
}

.ToggleItem__in {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s;
}

.open .ToggleItem__in {
    grid-template-rows: 1fr;
}

.ToggleItem__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    gap: 10px;
}

.ToggleItem__description {
    overflow: hidden;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.ToggleItem__description__in {
    padding-top: 40px;
}

.ToggleItem__indicator {
    display: flex;
    transform-origin: center;
    transition: transform 0.5s;
}

.open .ToggleItem__indicator {
    /*transform: rotate(90deg);*/
}

.ToggleItem__indicator .opened {
    display: none;
}

.open .ToggleItem__indicator .opened {
    display: block;
}

.open .ToggleItem__indicator .closed {
    display: none;
}

.calcForm {
    margin-bottom: 100px;
}

.calcForm__in {
    display: flex;
    gap: 60px;
}

.footer {
    background-color: var(--font-primary);
    color: #fff;
    padding: 55px 0;
}

.footer__title {
    color: var(--font-secondary);
}

.footer__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.footer__in {
    display: flex;
}

.solutionsBlock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 25px 0;
    margin-bottom: 100px;
}

.solution {
    position: relative;
    border: 1px solid var(--font-secondary);
    padding: 55px 25px 25px;
    border-radius: 15px;
}

.solution__label {
    color: #fff;
    font-size: 36px;
    position: absolute;
    margin-top: -40px;
    top: 0;
    padding: 15px;
    background-color: var(--primary);
}

option {
    background-color: var(--primary);
}

.s-row {
    margin-bottom: 20px;
}

.s-key {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    margin-bottom: 5px;
}

.s-value {
    font-weight: 600;
    font-size: 18px;
}

.label {
    min-height: 20px;
    text-transform: uppercase;
    margin-bottom: 5px;
    letter-spacing: 1px;
    font-weight: 600;
    width: 100%;
}

.faq {
    margin-bottom: 35px;
}


.faq__in {
    display: flex;
    gap: 60px;
}

.footer {
    font-weight: 600;
    margin-top: 100px;
}

.footer__left {
    flex: 1;
}

.footer__right {
    flex: 2;
}

.footer__title {
    text-transform: uppercase;
    color: var(--font-secondary);
    margin-bottom: 25px;
}

.footer li {
    margin-bottom: 15px;
}

.inputGroup {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

@media (max-width: 991px) {
    h1, .mainTitle {
        font-size: 4rem;
    }

    .mainBtnContainer {
        padding: 50px 0;
    }

    .topSection {
        min-height: 50vh;
    }

    .heroImg {
        margin: 50px 0;
    }

    .calcForm__in {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .h1, .mainTitle {
        font-size: 3rem;
    }

    h2 {
        font-size: 26px;
    }

    .mainBtnContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .topSection__left {
        flex: 1 0 100%;
    }

    .solutionsBlock {
        grid-template-columns: 100%;
        gap: 50px;
        margin-bottom: 50px;
    }

    .calcForm .Button {
        max-width: unset;
    }

    .form-row {
        flex-wrap: wrap
    }

    .form-row > div {
        flex: 1 0 100%
    }

    .hide-mobile {
        display: none;
    }

    .faq__in {
        flex-direction: column;
        gap: 0;
    }

    .footer__in {
        flex-direction: column;
        gap: 50px;
    }
}